# Ignore IDEA project files
*.iml
.idea/

# Ignore generated stuff
*/target
/target
*/project/target
*/project/project/target
*/project/project/project/target
akka-diagnostics/

# Ignore OSX stuff
.DS_Store
